<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : SimpleDisplay 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120611

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="{MetaKeywords}" />
<meta name="description" content="{MetaDescription}" />
<meta http-equiv="content-type" content="text/html; charset={MetaCharset}" />
<title>{MetaTitle}</title>
<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
<link href="{base_url}{template_dir}css/style.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="{base_url}{template_dir}js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{base_url}{template_dir}js/jquery.gallerax-0.2.js"></script>
<meta name="robots" content="index, follow" />
<link rel="alternate" type="application/rss+xml" title="{WebsiteName} &raquo; {WebsiteSlogan}" href="{base_url}feed.xml" />
<script type='text/javascript' src='{base_url}include/js/jquery.min.js'></script>
<link rel='index' title='{WebsiteName} - {WebsiteSlogan}' href='{base_url}' />
<script type="text/javascript" src="{base_url}include/js/ddlevelsmenu.js"></script>
<link href="{base_url}include/css/ddlevelsmenu-base.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript">ddlevelsmenu.setup("menus", "topbar")</script>
<style type="text/css">
@import "gallery.css";
</style>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<div id="piclogo"> <img src="{base_url}{template_dir}images/logo.png" /> </div>
			<h1><a href="#">{WebsiteName}</a></h1>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul id="menus">
		{mod_menu}
		<li>
		<a href="{menu_href}">{menu_display}</a>
		{menu_submenu}
		</li>
		{/mod_menu}
		</ul>
	</div>
	
	
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					<div class="post">
						<h2 class="title">{name}</h2>
						<div class="entry">
							<p>{content}</p>
						</div>
					</div>
				</div>
				<!-- end #content -->
				<div id="sidebar">
					<ul>
						<li>	<h2>{mod_socmed_1}{mod_socmed_2}{mod_socmed_4}{mod_socmed_5}{mod_socmed_3}</h2>
							<h2>Polling</h2>
							<p>{mod_polling_1}</p>
							<h2>News</h2>
							<p>{mod_news}</p>
							<h2>Bookmark</h2>
							<p>{wid_socialbookmark}</p>
						</li>
					</ul>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page --> 
</div>
<div id="footer">
	<p>Supported by {WebsiteFooter}</p>
</div>
<!-- end #footer -->
{GAnalytics}
</body>
</html>
